@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to left, #4a4a4a, #404040);
  box-shadow: inset 0 0 1px 1px #191919;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left, #555555, #4e4e4e);
}

:root {
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 24px;
  --font-larger: 36px;
  --font-gaint: 48px;
  --primary-color: #222222;
  --secondary-color: #86ff00;
}

body {
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.3;
  color: #000;
}

p {
  font-size: var(--font-medium);
  color: #222222;
  font-weight: 600;
  margin: 5px;
  line-height: 1.1;
}

label {
  font-size: var(--font-small);
  font-weight: 600;
}

li {
  list-style: none;
}

hr {
  background: #afacad;
  border: none;
  height: 1px;
  margin: 4px 0;
}

a,
a:hover,
a:focus,
a:active {
  font-weight: 500;
  text-decoration: none;
}

a {
  color: #40335e;
}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
}


button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
.row {
  display: flex;
  justify-content: space-between;
}
.rownew{
  width: 100%;
  padding: 0 2rem;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
img.small {
  max-height: 8rem;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}